<div class="d-flex flex-column align-items-center justify-content-center vw-100 vh-100">
  <button class="btn btn-lg btn-primary">Click me</button>
  <div class="d-flex align-items-center justify-content-center mt-2">
    <button class="btn btn-lg btn-danger mr-4">decrement</button>
    <h3 class="font-weight-bold m-0">0</h3>
    <button class="btn btn-lg btn-success ml-4">Increment</button>
  </div>
</div>
