<div class="d-flex flex-column align-items-center justify-content-center vw-100 vh-100" data-controller="hello" data-hello-message="hello from stimulus" data-hello-count="0">
  <button class="btn btn-lg btn-primary" data-target="hello.click" data-action="click->hello#sayHi">Click me</button>
  <div class="d-flex align-items-center justify-content-center mt-2">
    <button class="btn btn-lg btn-danger mr-4" data-action="click->hello#decrement">decrement</button>
    <h3 class="font-weight-bold m-0" data-target="hello.count">0</h3>
    <button class="btn btn-lg btn-success ml-4" data-action="click->hello#increment">Increment</button>
  </div>
</div>
