<div class="col-12 col-md-4 mb-4">
  <div class="rounded-lg border border-light bg-white shadow-sm p-3 h-100 d-flex flex-column align-items-center justify-content-between">
    <h3 class="font-weight-bold text-center mb-3"><%= post.title %></h3>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#post_modal" data-action="click->posts#getContent" data-url="<%= post_path(post) %>">
      See more
    </button>
  </div>
</div>
