<div class="container my-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h1>Posts</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_post">
      Create a new post
    </button>
  </div>
  <div class="row">
    <%= render @posts %>
  </div>
</div>
<%= render 'form', post: @post %>
